:root {
  --primary: blue;
  --shadow: -5px 5px 10px 5px grey;
}

body {
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}
.display-between {
  display: flex;
  justify-content: space-between;
}

.btn {
  background: orangered;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.btn:hover {
  cursor: pointer;
}

/* global message  */
.global {
  background: rgba(255, 166, 0, 0.817);
  padding: 10px 0;
}

.global > div {
  display: flex;
  justify-content: space-between;
}

/* Header section  */

header {
  background: var(--primary);
  color: white;
  padding: 10px 0;
}

.logo {
  background: green;
  color: brown;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > div {
  border: 3px dotted brown;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 90px;
  border-radius: 50%;
}

header ul {
  display: flex;
  list-style-type: none;
  font-size: 25px;
}

header ul li {
  margin-left: 16px;
}

header ul li:hover {
  background: red;
  cursor: pointer;
  /* font-size: 32px; */
  transform: scale(1.5);
}

/* Hero section  */
.hero {
  background: url(./assets/Food6.jpg) no-repeat center;
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background: rgba(0, 0, 0, 0.47);
  color: white;
  width: 500px;

  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content hr {
  width: 100%;
}

/* <!-- latest post  --> */

.main {
  display: flex;
  gap: 16px;
}

.articles {
  width: 66%;
}

article {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 20px 16px;
  margin-bottom: 24px;
}

article .art-img {
  width: 350px;
}

article .title {
  color: var(--primary);
  font-size: 24px;
  font-weight: bolder;
}

article .btn {
  float: right;
}
.side-links {
  width: 34%;
}

.country {
  background: rgba(153, 205, 50, 0.635);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.date {
  background: rgba(228, 247, 17, 0.724);
  padding: 16px;
  border-radius: 10px;
}

/* <!-- Recommendation  --> */

.recc {
  background: rgba(183, 255, 0, 0.616);
  padding: 32px 0;
  margin-top: 32px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 350px;
  box-shadow: var(--shadow);
  background: white;
  padding-bottom: 32px;
  border-radius: 10px;
  flex-grow: 1;
}

.card img {
  border-radius: 10px 10px 0 0;
}

.card .btn {
  width: 100%;
}
/* <!-- subscription form  --> */

.subs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.subs input {
  line-height: 42px;
  padding: 5px 10px;
  border: 1px solid rgba(128, 128, 128, 0.705);
  border-radius: 8px;
  color: grey;
}

/* <!-- footer   --> */

.footer {
  background: #000;
  color: white;
  padding: 64px;
  text-align: center;
  margin-top: 32px;
}

/* Media query */

/* ipad 600-992*/

@media (max-width: 992px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .articles,
  .side-links {
    width: 100%;
  }
  .side-links {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .side-links > div {
    flex-grow: 1;
  }
}

/* mobile devices */
@media (max-width: 600px) {
  article {
    flex-direction: column;
  }

  article .art-img {
    width: 100%;
  }

  article .btn {
    width: 100%;
  }
  .side-links {
    flex-direction: column;
  }

  .subs form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
